{% extends "sms_controll/layout.html" %}


{% block content %}

<h2>{{ title }}</h2>

    <h1>Kierowca</h1>
    <hr></hr>
    
    <form method="POST" class="form-horizontal">
    	{% csrf_token %}
    	
      	<p>Czy na pewno chcesz usunac kierowce:<br /><i>{{ object }}</i>?</p>
    	<br>
    	<input class="btn btn-danger btn-sm" role="button" type="submit" value="Usun" /> <a href="{% url 'sms_controll:home' %}"><button class="btn btn-primary btn-sm" role="button" type="reset" value="Reset">Anuluj</button></a>
   </form>


{% endblock content %}
