{% extends "sms_controll/layout_admin.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Wpisz swoje haslo !</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Uzytkownik</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Haslo</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Zaloguj" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Podales niepoprawne haslo !!!</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'sms_controll/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}

<!-- 
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sms Controll System</title>
</head>
<body>
	
	<h1>Witaj w aplikacji "Sms Controll System"</h1>
	
	<h2>Logowanie użytkownika</h2>
    {% if not user.is_authenticated %}
      <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zaloguj</button>
      </form>
    {% else %}
      <p>Jesteś już zalogowany jako {{ user.username }}</p>
      <ul>
        <li><a href="{% url 'sms_controll:index'%}">Strona główna</a></li>
        <li><a href="{% url 'sms_controll:wyloguj'%}">Wyloguj</a></li>
      </ul>
    {% endif %}

</body>
</html>
-->
