{% extends "sms_controll/layout.html" %}

{% block content %}

<form method="POST" class="form-horizontal">
   	{% csrf_token %}

    <h2>Nowe Zlecenie Przewozowe</h2>
    <hr></hr>
    
    	


	<div class="container-fluid">
		<div class="container">
		      
			 <div class="row">
			    <div class="col-lg-4">
			      
			    </div>
			    
			    <div class="col-lg-4">
			      <h4>Nr zlecenia:</h4>
			    </div>
			   
			    <div class="col-lg-4">
			      <label for="id_data_zamowienia"><h4>Data:</h4></label><input id="id_data_zamowienia" name="data_zamowienia"/>
			    </div>
			    
			 </div>
		 </div>
		 <hr></hr>
	
	  
		<div class="row">
		     <div id="firma zlecajaca" class="col-lg-3">
		       <label for="id_firma_zamawiajaca"><h4>Dane firmy zlecajacej:</h4></label><input id="id_firma_zamawiajaca" name="firma_zamawiajaca"/>
		     </div>
		</div>
		
		<hr>
		<div class="row">
			<div class="container-fluid">
			  <h4>Dane transportowe:</h4>
			  <div class="row">
				<div class="container-fluid">
				  <h5>Transport z:</h5>
				</div>
				
				<div class="container-fluid">
				  <h5>Transport do:</h5>
				</div>
				
				<div class="container-fluid">
				  <h5>Uwagi:</h5>
				</div>
		</div>
			  
			</div>
		</div>
		     
		<hr>
		<div class="row">    
		    <div id="firma przewozowa" class="col-lg-3">
		       <h4>Dane firmy realizujacej przewoz:</h4>
		    </div>
		</div>
		<hr>
		<div class="row">    
		    <div class="col-lg-6">
			   <h5>Kierowca obslugujacy zlecenie:</h5>
			</div>
		</div>
		
	</div>


	<hr>
	<div class="container-fluid">
	  <h6>Zlecenie przyjal:</h6>
	</div>

<br>
<input class="btn btn-primary btn-sm" role="button" type="submit" value="Zapisz" />
      
</form>

{% endblock content %}